<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head.html :: head"/>

<body>

<nav th:replace="fragments/head.html :: navbar ('Cart')"/>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <table class="table table-bordered my-2">
                <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Title</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item : ${cart}">
                    <th th:text="${item.id}" scope="row">1</th>
                    <td th:text="${item.product.title}">Product</td>
                    <td th:text="${item.product.cost}">0</td>
                    <td th:text="${item.qty}">0</td>
                    <td>
                        <form class="d-inline" th:method="delete" th:action = "@{/cart/delete/{id}(id = ${item.id})}">
                            <button type="submit" class="btn btn-primary">Удалить</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>



<th:block th:replace="fragments/footer.html :: scripts"/>

</body>

